<html>
	<head>
        <title>primer web</title>
    </head>
	<body>
		<div>
            <h1><a href="">Agenda primer web</a></h1>
        </div>

        <div>
            <p>published: 21.01.2023, 10:36</p>
            <h2><a href="">Nuevo usuarios</a></h2>
            <p>En este apartado pondremos la entreda estandar de nuestra agenda para que usted pueda ingresar sus datos de contacto:</p>

 			{% for contacto in contactos %} 
 				<div>
        		<p> nombre: {{ contacto.nombre }}</p>
        		<p> correo: {{ contacto.correo }}<p>
        		<p> télefono: {{ contacto.phonenumb }}</p>
    			</div>
    		{% endfor %}
            
        </div>

        <div>
            <p>published: 21.01.2023, 10:36</p>
            <h2><a href="">Modificar contacto</a></h2>
            <p>En este partado usted podrá modificar su información de contacto</p>
        </div>
	</body>
</html>